@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #2b2b2b;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  padding: 20px 0;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  cursor: pointer;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.burger__btn {
  display: none;
  background-color: transparent;
  border: none;
}

.header__link {
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 22.4px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
}

.header__item {
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
}

.header__item:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.header__btn {
  width: 152px;
  height: 60px;
  padding: 20px;
  gap: 12px;
  border-radius: 20px;
  opacity: 0px;
  background: #a259ff;
}

@media only screen and (max-width: 480px) {
  .header__menu {
    display: none;
  }
  .burger__btn {
    display: block;
  }
}

@media only screen and (max-width: 834px) {
  .header__menu {
    display: none;
  }
  .burger__btn {
    display: block;
  }
}

.discover {
  padding: 80px 0;
}

.discover__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 120px;
}

.discover__title {
  font-family: Work Sans;
  font-size: 67px;
  font-weight: 600;
  line-height: 73.7px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
  margin-bottom: 20px;
}

.discover__text {
  font-family: Work Sans;
  font-size: 22px;
  font-weight: 400;
  line-height: 35.2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
  margin-bottom: 30px;
}

.discover__btn {
  width: 224px;
  height: 60px;
  gap: 12px;
  border-radius: 20px;
  opacity: 0px;
  background: #a259ff;
  border: none;
  cursor: pointer;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 22.4px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
}

.discover__btn:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.discover__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  gap: 30px;
}

.discover__item h3 {
  font-family: Space Mono;
  font-size: 28px;
  font-weight: 700;
  line-height: 39.2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
}

.discover__item p {
  font-family: Work Sans;
  font-size: 23.99px;
  font-weight: 400;
  line-height: 38.38px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
}

@media only screen and (max-width: 480px) {
  .discover {
    padding: 30px 0;
  }
  .discover__btn {
    width: 315px;
    height: 60px;
    margin-left: 60px;
    margin-top: 40px;
  }
  .discover__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .discover__img {
    max-width: 100%;
  }
  .discover__price {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer {
  background-color: #3b3b3b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
  width: 1050px;
  height: 430px;
  margin-left: auto;
  margin-right: auto;
}

.footer_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 80px;
}

.footer_img {
  width: 420px;
  height: 310px;
  border-radius: 20px;
  margin-left: 60px;
}

.footer_title {
  font-family: Work Sans;
  font-size: 38px;
  font-weight: 600;
  line-height: 45.6px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: white;
}

.footer_text {
  font-family: Work Sans;
  font-size: 22px;
  font-weight: 400;
  line-height: 35.2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: white;
}

.footer_input {
  width: 400px;
  height: 60px;
  gap: 12px;
  border-radius: 20px 20px 20px 20px;
  position: absolute;
  padding: 20px;
}

.footer_btn {
  position: relative;
  width: 211px;
  height: 60px;
  gap: 12px;
  border-radius: 20px 20px 20px 20px;
  background-color: #a259ff;
  color: white;
  left: 200px;
  border: none;
}

.btn_img {
  width: 20px;
  height: 20px;
}

.footer_2 {
  background-color: #3b3b3b;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 40px;
  padding-bottom: 90px;
}

.footer_list {
  width: 327.41px;
  height: 191px;
  padding: 0px 84px 0px 0px;
  gap: 30px;
}

.footer__list-text {
  color: #cccccc;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.footer__list--text {
  color: #cccccc;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-top: 10px;
}

.footer__list_img {
  margin-top: 10px;
}

.footer_list-2 {
  width: 240px;
  height: 166px;
  gap: 25px;
}

.footer_list-2_title {
  font-family: Space Mono;
  font-size: 22px;
  font-weight: 700;
  line-height: 35.2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
}

.footer_list-2_text-1 {
  margin-top: 10px;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #cccccc;
}

.footer_list-2_text-2 {
  margin-top: 10px;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #cccccc;
}

.footer_list-2_text-3 {
  margin-top: 10px;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #cccccc;
}

.footer_list-3 {
  width: 420px;
  height: 184px;
  gap: 25px;
}

.footer_list-3_title {
  font-family: Space Mono;
  font-size: 22px;
  font-weight: 700;
  line-height: 35.2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
}

.footer_list-3_text {
  width: 330px;
  height: 44px;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #cccccc;
  margin-top: 10px;
}

.footer_list-3_input {
  width: 400px;
  height: 60px;
  gap: 12px;
  border-radius: 20px 20px 20px 20px;
  position: absolute;
  margin-top: 10px;
  padding: 20px;
}

.footer_list-3_btn {
  position: relative;
  width: 211px;
  height: 60px;
  gap: 12px;
  border-radius: 20px 20px 20px 20px;
  background-color: #a259ff;
  color: white;
  left: 200px;
  border: none;
  margin-top: 10px;
}

.footer_span {
  border-top: 1px solid #858584;
}

.footer_border-span_text {
  color: grey;
  font-family: Work Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 13.2px;
  text-align: center;
  margin-top: 260px;
  margin-left: -1800px;
}
/*# sourceMappingURL=style.css.map */