.trending {
    padding: 80px 117px;
}

.trending__wrapper {}

.trending__header {
    margin-left: 100px;
}

.trending__title {
    //styleName: H3 - Work Sans;
    font-family: Work Sans;
    font-size: 38px;
    font-weight: 600;
    line-height: 45.6px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #fff;
}

.trending__text {
    //styleName: Body Text- Work Sans;
    font-family: Work Sans;
    font-size: 22px;
    font-weight: 400;
    line-height: 35.2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 60px;
}

.trending__ul {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
}

.trending__item {}

.trending__img {
    transition: all ease 0.6s;
    cursor: pointer;
}

.trending__img:hover {
    transform: scale(0.9);
}

.trending__div {
    display: flex;
    gap: 15px;
}

.trending__p {
    //styleName: H5 - Work Sans;
    font-family: Work Sans;
    font-size: 22px;
    font-weight: 600;
    line-height: 30.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-top: 15px;
    color: #fff;
}

.trending__profile {
    display: flex;
    gap: 12px;
}

.trending__pfp {}

.trending__nickname {
    //styleName: Base(Body) - Work Sans;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    color: #fff;
}



@media only screen and (max-width:480px) {
    .none {
        display: none;
    }

    .none2 {
        display: none;
    }

    .trending__img {
        max-width: 100%;
    }

    .trending__item {
        padding: 0 30px;
    }

    .trending {
        padding: 30px;
    }

    .trending__header {
        padding: 30px;
    }

    .trending__title {
        white-space: nowrap;
        margin-left: -120px;
    }

    .trending__text {
        margin-left: -120px;
    }
}